---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// @import "font-awesome";

// Import partials from `sass_dir` (defaults to `_sass`)
.bs{

	@import "bootstrap_civic";
	@import "bootswatch";

	.btn, .btn:hover, .dropdown-menu a, .dropdown-menu a:hover {
		text-decoration: none !important;
	}

	.dropdown-menu {
		padding: 5px 0 !important;
		margin: 0 !important;
	}

	.btn-group.hover:hover > .dropdown-menu {
		display: block;
	}

	@media (max-width: 991px) {
		.btn-group-justified > .btn, .btn-group-justified > .btn-group {
			float: left !important;
			clear: both !important;
			width: 100% !important;
		}
	}

	.carousel-caption {
		background-color: #000;
		background-color: rgba(0,0,0,0.55);
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	.carousel-control {
		z-index: 2;
	}

	// five (5) column support
	.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
		position: relative;
		min-height: 1px;
		padding: 0 10px;
		width: 100%;
		float: left;
	}
	.col-xs-15 { width: 20%; }
	@media (max-width: 767px) { .col-sm-15 { width: 100%; } }
	@media (max-width: 991px) { .col-md-15 { width: 100%; } }
	@media (max-width: 1199px) { .col-lg-15 { width: 100%; } }


}