---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap/variables_civic";

.bs {
	.gis-thumb {
		background: url('http://images.fineartamerica.com/images-medium-large-5/3-london-england-street-map-michael-tompsett.jpg') center center;
		height: 200px;
		position: relative;
		border: solid 1px #000;
	}
	.gis-thumb-sm {
		background: url('http://images.fineartamerica.com/images-medium-large-5/3-london-england-street-map-michael-tompsett.jpg') center center;
		height: 150px;
		position: relative;
		border: solid 1px #000;
		margin-bottom: 20px;
	}

	.gis-thumb .thumb-links {
		background-color: rgba(0,0,0,0.6);
		position: absolute;
		left:0;
		color: #FFF;
		bottom: 20px;
		width: 80%;
	}
	.gis-thumb-sm .thumb-links { bottom: 10px }
}