---
---

@charset "utf-8";

@import "bootstrap/variables_civic";
@import "mixins";

@media (max-width: 767px) {

	img {
		display: none !important;
		position: absolute !important;
		top: -99999px !important;
		left: -99999px !important;
	}

}

@media (min-width: 768px) {

	.thumbnail {

		padding: 0 !important;

		.thumb-container {

			position: relative;

			.btn {
				position: absolute;
				bottom: 10%;
				opacity: 0.85;
			}
		}
		
		.caption {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

	}
}