---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap/variables_civic";

.bs {
	#logo {
		width: 313px;
		height: 132px;
		background: url('http://commbocc.github.io/CDN/images/neighbor-relations/logo.png') no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.badge.badge-danger {
		background-color: $brand-danger;
	}

	.carousel-caption a {
		color: #eee !important;
	}
}