<h3>Population Growth and Projected Growth</h3>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>2010</th>
				<th>2015</th>
				<th>2020</th>
				<th></th>
				<th class="info">2010-2015</th>
				<th class="info">2015-2020</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>County</td>
				<td>1,229,226</td>
				<td>1,308,304</td>
				<td>1,395,620</td>
				<td></td>
				<td class="info">6.43%</td>
				<td class="info">6.67%</td>
			</tr>
			<tr>
				<td>MSA</td>
				<td>2,783,243</td>
				<td>2,893,923</td>
				<td>3,027,024</td>
				<td></td>
				<td class="info">3.98%</td>
				<td class="info">4.60%</td>
			</tr>
			<tr>
				<td>State</td>
				<td>18,801,310</td>
				<td>19,603,934</td>
				<td>20,654,191</td>
				<td></td>
				<td class="info">4.27%</td>
				<td class="info">5.36%</td>
			</tr>
		</tbody>
	</table>
</div>
<em class="small">The Tampa-St. Petersburg-Clearwater Metropolitan Statistical Area (MSA) is comprised of Hernando, Hillsborough, Pasco, and Pinellas counties</em><br>
<em class="small">Source: ESRI Business Analyst Online</em>


<h3>Population by Age</h3>
<div class="row">
	<div class="col-md-6">
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>2010</th>
						<th>2015</th>
						<th>Growth</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>0-4</td>
						<td>80,459</td>
						<td>81,573</td>
						<td>1.4%</td>
					</tr>
					<tr>
						<td>5-9</td>
						<td>79,737</td>
						<td>83,066</td>
						<td>4.2%</td>
					</tr>
					<tr>
						<td>10-14</td>
						<td>82,835</td>
						<td>83,026</td>
						<td>0.2%</td>
					</tr>
					<tr>
						<td>15-19</td>
						<td>88,167</td>
						<td>86,231</td>
						<td>-2.2%</td>
					</tr>
					<tr>
						<td>20-24</td>
						<td>91,853</td>
						<td>100,212</td>
						<td>9.1%</td>
					</tr>
					<tr>
						<td>25-34</td>
						<td>173,877</td>
						<td>188,875</td>
						<td>8.6%</td>
					</tr>
					<tr>
						<td>35-44</td>
						<td>174,342</td>
						<td>173,026</td>
						<td>-0.8%</td>
					</tr>
					<tr>
						<td>45-54</td>
						<td>178,058</td>
						<td>179,797</td>
						<td>1.0%</td>
					</tr>
					<tr>
						<td>55-64</td>
						<td>134,661</td>
						<td>155,304</td>
						<td>15.3%</td>
					</tr>
					<tr>
						<td>65-74</td>
						<td>79,772</td>
						<td>103,971</td>
						<td>30.3%</td>
					</tr>
					<tr>
						<td>75-84</td>
						<td>46,900</td>
						<td>51,319</td>
						<td>9.4%</td>
					</tr>
					<tr>
						<td>85+</td>
						<td>18,565</td>
						<td>21,904</td>
						<td>18.0%</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>18 and Older</td>
						<td>935,441</td>
						<td>1,011,319</td>
						<td>8.1%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<p>
			<a data-lightbox="true" href="http://hillsboroughcounty.org/images/pages/N4081/dem-pop-age.png">
				<img src="http://hillsboroughcounty.org/images/pages/N4081/dem-pop-age.png" alt="Permit Values" class="img-responsive center-block" />
			</a>
		</p>
	</div>
</div>
<em class="small">Source: ESRI Business Analyst Online</em>


<h3>Population by Race</h3>
<div class="row">
	<div class="col-md-6">
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>2010</th>
						<th>2015</th>
						<th>Growth</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>White</td>
						<td>876,137</td>
						<td>912,968</td>
						<td>4.2%</td>
					</tr>
					<tr>
						<td>Black</td>
						<td>205,073</td>
						<td>220,492</td>
						<td>7.5%</td>
					</tr>
					<tr>
						<td>American Indian</td>
						<td>4,779</td>
						<td>5,733</td>
						<td>20.0%</td>
					</tr>
					<tr>
						<td>Asian</td>
						<td>42,076</td>
						<td>51,042</td>
						<td>21.3%</td>
					</tr>
					<tr>
						<td>Pacific Islander</td>
						<td>925</td>
						<td>1,173</td>
						<td>26.8%</td>
					</tr>
					<tr>
						<td>Some Other Race</td>
						<td>61,554</td>
						<td>71,008</td>
						<td>15.4%</td>
					</tr>
					<tr>
						<td>Two or More Races</td>
						<td>38,682</td>
						<td>45,888</td>
						<td>18.6%</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Hispanic or Latino</td>
						<td>306,635</td>
						<td>355,277</td>
						<td>15.9%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<p>
			<a data-lightbox="true" href="http://hillsboroughcounty.org/images/pages/N4081/dem-pop-race.png">
				<img src="http://hillsboroughcounty.org/images/pages/N4081/dem-pop-race.png" alt="Permit Values" class="img-responsive center-block" />
			</a>
		</p>
	</div>
</div>
<em class="small">Source: ESRI Business Analyst Online</em>


<h3>Household Income</h3>
<div class="row">
	<div class="col-md-5">
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>2010</th>
						<th>2015</th>
						<th>Growth</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Less than $15,000</td>
						<td>65,406</td>
						<td>66,582</td>
						<td>1.8%</td>
					</tr>
					<tr>
						<td>$15,000-$24,999</td>
						<td>54,351</td>
						<td>54,965</td>
						<td>1.1%</td>
					</tr>
					<tr>
						<td>$25,000-$34,999</td>
						<td>54,351</td>
						<td>52,545</td>
						<td>-3.3%</td>
					</tr>
					<tr>
						<td>$35,000-$49,999</td>
						<td>73,236</td>
						<td>75,673</td>
						<td>3.3%</td>
					</tr>
					<tr>
						<td>$50,000-$74,999</td>
						<td>82,909</td>
						<td>96,109</td>
						<td>15.9%</td>
					</tr>
					<tr>
						<td>$75,000-$99,999</td>
						<td>50,667</td>
						<td>56,562</td>
						<td>11.6%</td>
					</tr>
					<tr>
						<td>$100,000-$149,999</td>
						<td>46,521</td>
						<td>54,328</td>
						<td>16.8%</td>
					</tr>
					<tr>
						<td>$150,000-$199,999</td>
						<td>16,121</td>
						<td>22,588</td>
						<td>40.1%</td>
					</tr>
					<tr>
						<td>$200,000+</td>
						<td>17,503</td>
						<td>22,857</td>
						<td>30.6%</td>
					</tr>
					<tr>
						<td>Total Households</td>
						<td>461,066</td>
						<td>502,209</td>
						<td>8.9%</td>
					</tr>

				</tbody>
			</table>
		</div>

	</div>
	<div class="col-md-7">
		<p>
			<a data-lightbox="true" href="http://hillsboroughcounty.org/images/pages/N4081/dem-income.png">
				<img src="http://hillsboroughcounty.org/images/pages/N4081/dem-income.png" alt="Permit Values" class="img-responsive center-block" />
			</a>
		</p>
	</div>
</div>
<em class="small">Source: ESRI Business Analyst Online</em>
