<h3>Labor Force</h3>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Labor Force</th>
				<th>Change from Sept 14</th>
				<th>Unemployed</th>
				<th>Change from Sept 14</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Hillsborough County</td>
				<td>685,680</td>
				<td>-0.81%</td>
				<td>33,233</td>
				<td>-21.23%</td>
			</tr>
			<tr>
				<td>Tampa MSA</td>
				<td>1,446,538</td>
				<td>-0.83%</td>
				<td>72,020</td>
				<td>-16.67%</td>
			</tr>
			<tr>
				<td>Florida</td>
				<td>9,645,000</td>
				<td>-0.52%</td>
				<td>514,000</td>
				<td>-14.58%</td>
			</tr>
			<tr>
				<td>United States</td>
				<td>156,607,000</td>
				<td>-0.25%</td>
				<td>7,628,000</td>
				<td>-22.89%</td>
			</tr>
		</tbody>
	</table>
</div>
<em class="small">Data as of Sept 2015</em><br>
<em class="small">Source: Florida DEO/Bureau of Labor Statistics</em><br>
<em class="small">The Tampa-St. Petersburg-Clearwater Metropolitan Statistical Area (MSA) is comprised of Hernando, Hillsborough, Pasco, and Pinellas counties</em><


<h3>Unemployment Rates</h3>
<p>
	<a data-lightbox="true" href="http://hillsboroughcounty.org/images/pages/N4081/unemploymnet-rates.png">
		<img src="http://hillsboroughcounty.org/images/pages/N4081/unemploymnet-rates.png" alt="Unemployment Rates" class="img-responsive center-block" />
	</a>
</p>
<em class="small">Source: Florida DEO/Bureau of Labor Statistics</em>


<h3>Permit Activity</h3>
<div class="row">
	<div class="col-md-7">
		<p>
			<a data-lightbox="true" href="http://hillsboroughcounty.org/images/pages/N4081/permits-issued.png">
				<img src="http://hillsboroughcounty.org/images/pages/N4081/permits-issued.png" alt="Permits Issued" class="img-responsive center-block" />
			</a>
		</p>
	</div>
	<div class="col-md-5">
		<p>
			<a data-lightbox="true" href="http://hillsboroughcounty.org/images/pages/N4081/permit-values.png">
				<img src="http://hillsboroughcounty.org/images/pages/N4081/permit-values.png" alt="Permit Values" class="img-responsive center-block" />
			</a>
		</p>
	</div>
</div>
<div class="well">
	<ul>
		<li>
			<strong>Residential</strong> permits consist of new residential buildings.
		</li>
		<li>
			<strong>Residential Other</strong> includes permits for door and window replacements, aluminum screens, pools, and a variety of other general building changes for residential properties.
		</li>
		<li>
			<strong>Commercial</strong> permits include new commercial buildings, multi-family buildings, shell buildings, and interior finishes.
		</li>
		<li>
			<strong>Commercial Other</strong> includes the remainder of permits for changes and additions to commercial buildings, including interior remodels and sign permits.
		</li>
	</ul>
</div>
<em class="small">Source: Hillsborough County Development Services</em>


<h3>Housing Activity</h3>
<div class="row">
	<div class="col-md-6">
		<h4>Single Family Houses</h4>
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>Closed Sales</th>
						<th>Median Sales Price</th>
						<th>Median Days on Market</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Oct 14-Sept 15</td>
						<td>17,974</td>
						<td>$189,732</td>
						<td>48.5</td>
					</tr>
					<tr>
						<td>Oct 13-Sept 14</td>
						<td>15,633</td>
						<td>$176,045</td>
						<td>49.4</td>
					</tr>
					<tr>
						<td>% Change</td>
						<td>15.0%</td>
						<td>7.8%</td>
						<td>-1.8%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<h4>Townhouses and Condos</h4>
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>Closed Sales</th>
						<th>Median Sales Price</th>
						<th>Median Days on Market</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Oct 14-Sept 15</td>
						<td>5,257</td>
						<td>$114,037</td>
						<td>46.3</td>
					</tr>
					<tr>
						<td>Oct 13-Sept 14</td>
						<td>4,734</td>
						<td>$108,767</td>
						<td>43.9</td>
					</tr>
					<tr>
						<td>% Change</td>
						<td>11.0%</td>
						<td>4.8%</td>
						<td>5.5%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<em class="small">Source: Greater Tampa Association of Realtors; data for Hillsborough County only</em>


<h3>Tourist Development Taxes</h3>
<p>
	Total collected between October and September for respective years listed
</p>
<div class="row">
	<div class="col-md-5">
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>Total Collected</th>
						<th>12 Month Average<br> for Monthly Collections</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Oct 10-Sept 11</td>
						<td>$19,171,821</td>
						<td>$1,597,652</td>
					</tr>
					<tr>
						<td>Oct 11-Sept 12</td>
						<td>$21,326,032</td>
						<td>$1,777,169</td>
					</tr>
					<tr>
						<td>Oct 12-Sept 13</td>
						<td>$21,194,795</td>
						<td>$1,766,233</td>
					</tr>
					<tr>
						<td>Oct 13-Sept 14</td>
						<td>$23,935,724</td>
						<td>$1,994,644</td>
					</tr>
					<tr>
						<td>Oct 14-Sept 15</td>
						<td>$27,281,512</td>
						<td>$2,273,459</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-7">
		<p>
			<a data-lightbox="true" href="http://hillsboroughcounty.org/images/pages/N4081/dev-tax.png">
				<img src="http://hillsboroughcounty.org/images/pages/N4081/dev-tax.png" alt="Tourist Development Taxes" class="img-responsive center-block" />
			</a>
		</p>
	</div>
</div>
<em class="small">Source: Hillsborough County Tax Collector</em>


<div class="row">
	<div class="col-md-6">
		<h3>Hotel Occupancy and Revenue</h3>
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>Occupancy</th>
						<th>Revenue</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sept 2015</td>
						<td>65.0</td>
						<td>$36,288,493</td>
					</tr>
					<tr>
						<td>Sept 2014</td>
						<td>60.0</td>
						<td>$34,956,707</td>
					</tr>
					<tr>
						<td>% Change</td>
						<td>8.3%</td>
						<td>3.8%</td>
					</tr>
				</tbody>
			</table>
		</div>
		<em class="small">Source: Smith Travel Research</em>
	</div>
	<div class="col-md-6">
		<h3>Gross and Taxable Sales</h3>
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>Gross</th>
						<th>Taxable</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Oct. 2014-Sept 2015</td>
						<td>$71,820,968,874</td>
						<td>$23,818,666,653</td>
					</tr>
					<tr>
						<td>Oct. 2013-Sept 2014</td>
						<td>$69,501,709,088</td>
						<td>$22,100,476,463</td>
					</tr>
					<tr>
						<td>% Change</td>
						<td>3.3%</td>
						<td>7.8%</td>
					</tr>
				</tbody>
			</table>
		</div>
		<em class="small">Source: Bureau of Economic Analysis</em>
	</div>
</div>


<h3>Quarterly Census of Employment and Wages</h3>
<p>
	QCEW looks at employment, establishment, and wages for Hillsborough County at an industry level.
	We've compared industry growth in relation to the 2nd quarter of 2014 in the 'Annual Change' column next to each category of data.
	The final column shows the location quotient for each industry in Hillsborough County (see text box below table for more information on location quotients)
</p>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Employment</th>
				<th>Annual Change</th>
				<th>Establishments</th>
				<th>Annual Change</th>
				<th>Wages</th>
				<th>Annual Change</th>
				<th>Location Quotient</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Agriculture, Forestry, Fishing, Hunting</td>
				<td>9,114</td>
				<td>-9.50%</td>
				<td>309</td>
				<td>2.30%</td>
				<td>$18,830</td>
				<td>13.50%</td>
				<td>1.82</td>
			</tr>
			<tr>
				<td>Mining, Quarrying, Oil and Gas Extraction</td>
				<td>153</td>
				<td>-39.00%</td>
				<td>20</td>
				<td>-13.00%</td>
				<td>$72,379</td>
				<td>-19.10%</td>
				<td>0.07</td>
			</tr>
			<tr>
				<td>Utilities</td>
				<td>2,636</td>
				<td>-3.20%</td>
				<td>55</td>
				<td>5.80%</td>
				<td>$86,873</td>
				<td>2.60%</td>
				<td>1.12</td>
			</tr>
			<tr>
				<td>Construction</td>
				<td>32,836</td>
				<td>5.60%</td>
				<td>3,669</td>
				<td>6.40%</td>
				<td>$47,947</td>
				<td>3.50%</td>
				<td>1.12</td>
			</tr>
			<tr>
				<td>Manufacturing</td>
				<td>24,770</td>
				<td>-3.30%</td>
				<td>1,136</td>
				<td>0.70%</td>
				<td>$51,967</td>
				<td>0.50%</td>
				<td>0.45</td>
			</tr>
			<tr>
				<td>Wholesale Trade</td>
				<td>29,568</td>
				<td>3.40%</td>
				<td>2,375</td>
				<td>-1.80%</td>
				<td>$61,838</td>
				<td>3.60%</td>
				<td>1.07</td>
			</tr>
			<tr>
				<td>Retail Trade</td>
				<td>75,047</td>
				<td>6.60%</td>
				<td>5,141</td>
				<td>0.20%</td>
				<td>$31,255</td>
				<td>3.60%</td>
				<td>1.02</td>
			</tr>
			<tr>
				<td>Transportation and Warehousing</td>
				<td>16,840</td>
				<td>10.50%</td>
				<td>905</td>
				<td>2.60%</td>
				<td>$46,463</td>
				<td>-0.20%</td>
				<td>0.76</td>
			</tr>
			<tr>
				<td>Information</td>
				<td>15,808</td>
				<td>-2.10%</td>
				<td>624</td>
				<td>-3.00%</td>
				<td>$72,075</td>
				<td>1.20%</td>
				<td>1.27</td>
			</tr>
			<tr>
				<td>Finance and Insurance</td>
				<td>49,507</td>
				<td>1.30%</td>
				<td>2,350</td>
				<td>1.20%</td>
				<td>$66,189</td>
				<td>3.50%</td>
				<td>1.91</td>
			</tr>
			<tr>
				<td>Real Estate and Rental and Leasing</td>
				<td>12,343</td>
				<td>-2.70%</td>
				<td>2,133</td>
				<td>1.40%</td>
				<td>$49,285</td>
				<td>3.90%</td>
				<td>1.37</td>
			</tr>
			<tr>
				<td>Professional and Technical Services</td>
				<td>55,066</td>
				<td>9.50%</td>
				<td>6,546</td>
				<td>3.10%</td>
				<td>$72,618</td>
				<td>2.00%</td>
				<td>1.35</td>
			</tr>
			<tr>
				<td>Management of Companies and Enterprises</td>
				<td>10,344</td>
				<td>8.20%</td>
				<td>278</td>
				<td>6.90%</td>
				<td>$80,558</td>
				<td>7.10%</td>
				<td>1.07</td>
			</tr>
			<tr>
				<td>Administrative and Waste Services</td>
				<td>51,789</td>
				<td>4.30%</td>
				<td>2,773</td>
				<td>2.50%</td>
				<td>$34,402</td>
				<td>1.60%</td>
				<td>1.22</td>
			</tr>
			<tr>
				<td>Educational Services</td>
				<td>12,315</td>
				<td>5.50%</td>
				<td>518</td>
				<td>3.00%</td>
				<td>$36,897</td>
				<td>-3.90%</td>
				<td>0.95</td>
			</tr>
			<tr>
				<td>Health Care and Social Assistance</td>
				<td>75,071</td>
				<td>4.40%</td>
				<td>3,905</td>
				<td>-0.30%</td>
				<td>$51,156</td>
				<td>3.00%</td>
				<td>0.9</td>
			</tr>
			<tr>
				<td>Arts, Entertainment, and Recreation</td>
				<td>14,748</td>
				<td>5.10%</td>
				<td>536</td>
				<td>7.00%</td>
				<td>$37,593</td>
				<td>4.90%</td>
				<td>1.55</td>
			</tr>
			<tr>
				<td>Accomodation and Food Services</td>
				<td>56,299</td>
				<td>2.50%</td>
				<td>2,912</td>
				<td>1.60%</td>
				<td>$19,149</td>
				<td>4.00%</td>
				<td>0.97</td>
			</tr>
			<tr>
				<td>Other Services</td>
				<td>17,699</td>
				<td>1.90%</td>
				<td>3,341</td>
				<td>2.90%</td>
				<td>$31,680</td>
				<td>2.20%</td>
				<td>0.92</td>
			</tr>
			<tr>
				<td>Public Administration</td>
				<td>24,738</td>
				<td>0.10%</td>
				<td>173</td>
				<td>-3.90%</td>
				<td>$56,725</td>
				<td>-2.20%</td>
				<td>0.81</td>
			</tr>
			<tr>
				<td>Unclassified</td>
				<td>605</td>
				<td></td>
				<td>591</td>
				<td></td>
				<td>$31,442</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>ALL INDUSTRIES</td>
				<td>562,528</td>
				<td>3.90%</td>
				<td>40,117</td>
				<td>2.60%</td>
				<td>$46,904</td>
				<td>3.00%</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="well">
	<p>
		Location Quotient is the concentration of an industry in a geographic area (in this case, Hillsborough County) in relation to that industry's concentration nationally.
	</p>
	<p>
		Example: The Finance & Insurance industry is nearly twice as concentrated in Hillsborough County compared to the concentration of the industry nationally.
	</p>
</div>
<em class="small">Data as of Second Quarter 2015</em><br>
<em class="small">Source: Bureau of Labor Statistics</em>


<h3>Consumer Price Index</h3>
<p>
	This is a measure of inflation when comparing numbers.
</p>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>US City Average</th>
				<th>South Urban Average</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>September 2015</td>
				<td>237.945</td>
				<td>233.480</td>
			</tr>
			<tr>
				<td>September 2014</td>
				<td>238.031</td>
				<td>233.126</td>
			</tr>
			<tr>
				<td>% Change</td>
				<td>-0.04%</td>
				<td>0.15%</td>
			</tr>
		</tbody>
	</table>
</div>
<em class="small">Source: Bureau of Labor Statistics</em>


<h3>Gross Metro Product</h3>
<p>
	<a data-lightbox="true" href="http://hillsboroughcounty.org/images/pages/N4081/gross-metro.png">
		<img src="http://hillsboroughcounty.org/images/pages/N4081/gross-metro.png" alt="Gross Metro Product" class="img-responsive center-block" />
	</a>
</p>


<h3>Airport Activity</h3>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Domestic Passengers</th>
				<th>Int'l Passengers</th>
				<th>Freight Total</th>
				<th>Mail Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Oct 14-Sept 15</td>
				<td>17,804,503</td>
				<td>685,144</td>
				<td>89,971</td>
				<td>7,245</td>
			</tr>
			<tr>
				<td>Oct 13-Sept 14</td>
				<td>16,728,221</td>
				<td>596,790</td>
				<td>86,389</td>
				<td>5,060</td>
			</tr>
			<tr>
				<td>% Change</td>
				<td>6.4%</td>
				<td>14.8%</td>
				<td>4.1%</td>
				<td>43.2%</td>
			</tr>
		</tbody>
	</table>
</div>
<em class="small">Source: Tampa International Airport</em>


<h3>Port Activity - Port Tampa Bay Public Berths</h3>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Total Bulk</th>
				<th>Total General</th>
				<th>TEUs</th>
				<th>Cruise Passengers</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>FY 2015 (Oct-Sept)</td>
				<td>13,555,455</td>
				<td>1,029,946</td>
				<td>56,742</td>
				<td>867,114</td>
			</tr>
			<tr>
				<td>FY 2014 (Oct-Sept)</td>
				<td>12,143,931</td>
				<td>1,029,714</td>
				<td>47,265</td>
				<td>888,343</td>
			</tr>
			<tr>
				<td>% Change</td>
				<td>11.6%</td>
				<td>0.0%</td>
				<td>20.1%</td>
				<td>-2.4%</td>
			</tr>
		</tbody>
	</table>
</div>
<em class="small">TEUs - 20-foot equivalent units, a standard-size container</em><br>
<em class="small">Source: Port Tampa Bay</em>


<h3>Occupations</h3>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Number Employed</th>
				<th>% Change from 2014</th>
				<th>Location Quotient</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Management</td>
				<td>23,996</td>
				<td>4.2%</td>
				<td>0.75</td>
			</tr>
			<tr>
				<td>Business and Financial Operations</td>
				<td>43,539</td>
				<td>3.5%</td>
				<td>1.34</td>
			</tr>
			<tr>
				<td>Computer and Mathematical</td>
				<td>21,585</td>
				<td>3.9%</td>
				<td>1.18</td>
			</tr>
			<tr>
				<td>Architecture and Engineering</td>
				<td>8,906</td>
				<td>5.0%</td>
				<td>0.78</td>
			</tr>
			<tr>
				<td>Life, Physical, and Social Science</td>
				<td>3,915</td>
				<td>5.8%</td>
				<td>0.72</td>
			</tr>
			<tr>
				<td>Community and Social Service</td>
				<td>6,488</td>
				<td>2.9%</td>
				<td>0.70</td>
			</tr>
			<tr>
				<td>Legal</td>
				<td>8,520</td>
				<td>0.6%</td>
				<td>1.73</td>
			</tr>
			<tr>
				<td>Education, Training, Library</td>
				<td>33,140</td>
				<td>2.6%</td>
				<td>0.89</td>
			</tr>
			<tr>
				<td>Arts, Design, Entertainment, Sports, Media</td>
				<td>6,583</td>
				<td>4.4%</td>
				<td>0.80</td>
			</tr>
			<tr>
				<td>Healthcare Practitioners and Technical</td>
				<td>37,393</td>
				<td>5.2%</td>
				<td>1.01</td>
			</tr>
			<tr>
				<td>Healthcare Support</td>
				<td>15,353</td>
				<td>4.7%</td>
				<td>0.81</td>
			</tr>
			<tr>
				<td>Protective Services</td>
				<td>14,984</td>
				<td>0.1%</td>
				<td>0.97</td>
			</tr>
			<tr>
				<td>Food Preparation and Serving Related</td>
				<td>57,381</td>
				<td>5.7%</td>
				<td>0.99</td>
			</tr>
			<tr>
				<td>Building and Grounds Cleaning and Maintenance</td>
				<td>17,649</td>
				<td>-2.0%</td>
				<td>0.86</td>
			</tr>
			<tr>
				<td>Personal Care and Service</td>
				<td>16,475</td>
				<td>5.4%</td>
				<td>0.78</td>
			</tr>
			<tr>
				<td>Sales and Related</td>
				<td>77,328</td>
				<td>2.8%</td>
				<td>1.17</td>
			</tr>
			<tr>
				<td>Office and Administrative Support</td>
				<td>122,641</td>
				<td>2.4%</td>
				<td>1.21</td>
			</tr>
			<tr>
				<td>Farming, Fishing, Forestry</td>
				<td>7,517</td>
				<td>-1.6%</td>
				<td>1.63</td>
			</tr>
			<tr>
				<td>Construction and Extraction</td>
				<td>23,282</td>
				<td>5.2%</td>
				<td>0.93</td>
			</tr>
			<tr>
				<td>Installation, Maintenance, Repair</td>
				<td>25,946</td>
				<td>3.0%</td>
				<td>1.06</td>
			</tr>
			<tr>
				<td>Production</td>
				<td>24,391</td>
				<td>2.8%</td>
				<td>0.58</td>
			</tr>
			<tr>
				<td>Transportation and Materials Moving</td>
				<td>39,063</td>
				<td>4.2%</td>
				<td>0.90</td>
			</tr>
		</tbody>
	</table>
</div>
<em class="small">Data as of 2015</em><br>
<em class="small">Source: EMSI</em>
