<h3>Educational Attainment</h3>
<p>
	<img src="http://hillsboroughcounty.org/images/pages/N4081/ed-attainment.png" alt="Completions by Type" class="img-responsive center-block" />
</p>
<em class="small">Source: ESRI Business Analyst Online</em>


<h3>Completions by Type</h3>
<p>
	<img src="http://hillsboroughcounty.org/images/pages/N4081/ed-degree-completions.png" alt="Completions by Type" class="img-responsive center-block" />
</p>
<div class="well">
	<p>
		Completions are degrees finished in a given year at every institution in Hillsborough County. These are based on calendar years, not academic years.
	</p>
	<p>
		Although the total number went down, we're going up in Bachelor's degrees and Graduate degrees.
	</p>
</div>
<em class="small">Source: EMSI</em>


<h3>School Enrollment Trends</h3>
<p>
	<img src="http://hillsboroughcounty.org/images/pages/N4081/ed-enrollment.png" alt="Completions by Type" class="img-responsive center-block" />
</p>
<em class="small">Source: Florida Department of Education</em>


<h3>SAT Scores</h3>
<p>
	<img src="http://hillsboroughcounty.org/images/pages/N4081/ed-sat.png" alt="Completions by Type" class="img-responsive center-block" />
</p>
<em class="small">Source: Florida Department of Education</em>


<h3>High School Graduation Rates</h3>
<p>
	<img src="http://hillsboroughcounty.org/images/pages/N4081/ed-hs-grad.png" alt="Completions by Type" class="img-responsive center-block" />
</p>
<em class="small">Source: Florida Department of Education</em>
