---
layout: civic-bs
---

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#economy" data-toggle="tab">Economic Environment</a></li>
	<li><a href="#workforce" data-toggle="tab">Workforce Development</a></li>
	<li><a href="#community" data-toggle="tab">Community Characteristics</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="economy">
		{% include 2015-economic-indicators/economy.html %}
	</div>
	<div role="tabpanel" class="tab-pane" id="workforce">
		{% include 2015-economic-indicators/workforce.html %}
	</div>
	<div role="tabpanel" class="tab-pane" id="community">
		{% include 2015-economic-indicators/community.html %}
	</div>
</div>
