---
layout: bootstrap
---
<link rel="stylesheet" href="http://commbocc.github.io/CDN/css/civic.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="../../js/events/wit.js"></script>
<!-- http://commbocc.github.io/CDN/js/events/wit.js -->

<style type="text/css">
	
	.headshot {
		display: block;
		border-radius: 50%;
		width: 140px;
		height: 140px;
		border: solid 3px #02B14F;
		background-size: cover;
		background-position: top center;
		margin: 0 auto;
	}
	.auto-height {
		margin-bottom:  15px;
	}

</style>

<div class="bs">

	<p>
		<img src="http://www.hillsboroughcounty.org/images/pages/N3803/updatewomentechbanner.gif" alt="Women in Tech" class="img-thumbnail">
	</p>

	<p class="lead text-center">
		When: Monday, March 30, 2015<br>
		Time: 1:00 PM - 4:00 PM<br>
		Where: Seminole Heights Library (See Map)<br>
		4711 N. Central Ave.<br>
		Tampa, FL 33603
	</p>
	
	<p>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
				<a href="http://www.hillsboroughcounty.org/FormCenter/Specialty-Forms-3/Women-in-Tech-Event-Registration-145" class="btn btn-lg btn-success btn-block">
					Reserve Your Seat
				</a>
			</div>
		</div>
	</p>

	<hr>

	<p class="">
		The free event is part of a collaborative effort to highlight, teach, and inspire young women to pursue careers in technology through shared connections and resources. Join us for a local learning opportunity to highlight, teach, and inspire through shared connections and resources.
	</p>

	<hr>

	<div id="presentations">
		{% for pres in site.data.women_in_tech %}

		<h3 class="text-center">{{pres.section}}</h3>

		<p class="lead">{{pres.description}}</p>

		<div class="row">
			{% for speaker in pres.speakers %}

			<div class="col-sm-6 col-md-4 text-center auto-height">
				<a href="{{speaker.url}}" target="_blank" class="headshot text-center" data-bgimg="{{speaker.image_src}}"></a>
				<h4>{{speaker.name}}</h4>
				<p>
					{{speaker.bio}}
				</p>
			</div>
			{% endfor %}
		</div>

		<hr>
		{% endfor %}
	</div>
	
</div>
