---
layout: bootstrap
---
<link rel="stylesheet" href="http://commbocc.github.io/CDN/css/civic.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="../../js/events/wit.js"></script>
<!-- http://commbocc.github.io/CDN/js/events/wit.js -->

<script type="text/javascript" src="../../js/iframeResizer/iframeResizer.contentWindow.min.js"></script>

<style type="text/css">
	
	.headshot {
		display: block;
		border-radius: 50%;
		width: 180px;
		height: 180px;
		border: solid 3px #02B14F;
		background-size: cover;
		background-position: top center;
		margin: 0 auto;
	}
	.auto-height {
		margin-bottom:  15px;
	}

</style>

<div class="bs">

	<div id="presentations">
		{% for pres in site.data.women_in_tech %}

		<h3 class="text-center">{{pres.heading}}</h3>

		<p class="lead">{{pres.description}}</p>

		<div class="row">
			{% for speaker in pres.speakers %}

			<div class="col-sm-6 col-md-4 text-center auto-height">
				<a href="{{speaker.url}}" target="_blank" class="headshot text-center" data-bgimg="{{speaker.image_src}}"></a>
				<h4>{{speaker.name}}</h4>
				<p>
					{{speaker.bio}}
				</p>
			</div>
			{% endfor %}
		</div>

		<hr>
		{% endfor %}
	</div>
	
</div>
