---
layout: civic-bs
permalink: /2015-economic-indicators/
---

<link rel="stylesheet" href="http://commbocc.github.io/CDN/css/lightbox.min.css">

<p class="lead">
	The annual edition of the Economic Indicators series dives deeper into Hillsborough County's economic, education, and demographic conditions for the past year. This information is collected and published to assist the business community with data relevant to evaluate the dynamic economic ecosystem and workforce potential Hillsborough County has to offer.
</p>

<p>
	Contact the Economic Development Department's Business Intelligence team at (813) 272-7232 with any questions or to provide feedback on this report.
</p>

{% include 2015-economic-indicators/infographs.html %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#economy" data-toggle="tab">Economic Environment</a></li>
	<li class=""><a href="#workforce" data-toggle="tab">Workforce Development</a></li>
	<li class=""><a href="#community" data-toggle="tab">Community Characteristics</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="economy">
		{% include 2015-economic-indicators/economy.html %}
	</div>
	<div role="tabpanel" class="tab-pane " id="workforce">
		{% include 2015-economic-indicators/workforce.html %}
	</div>
	<div role="tabpanel" class="tab-pane " id="community">
		{% include 2015-economic-indicators/community.html %}
	</div>
</div>

<script type="text/javascript" src="http://commbocc.github.io/CDN/js/lightbox.min.js"></script>
