---
layout: civic-bs
permalink: /consumer-tips/
---

<!-- <div class="page-header top">
<img src="http://www.hillsboroughcounty.org/images/pages/N284/militaryInsignia-v2.png" alt="2016 NCPW Daily Tips" class="img-responsive center-block" />
</div> -->

<p class="lead">
	Are you protected this tax season? Compared to other states, Florida has a higher amount of income tax fraud cases, according to the Federal Trade Commission. In fact, Tampa tops the list of U.S. cities with the most fraud-related income tax filings. During National Consumer Protection Week, March 6-12 2016, Hillsborough County Consumer Protection will provide community outreach events and resources to educate consumers on how to make better financial decisions.
</p>

<p class="text-center">
	<a href="http://www.hillsboroughcounty.org/CivicAlerts.aspx?AID=2191">
		Learn How to Keep Your Personal Information Safe during <em>National Consumer Protection Week</em>
	</a>
</p>

{% for day in site.consumer_tips reversed %}
<div class="consumer-tip" data-date="{{ day.date }}">
	<h3>
		<small>
			{% if day.link %}
			<a href="{{ day.link }}" style="font-family:inherit !important; font-size:inherit !important; font-weight:inherit !important; font-style:inherit !important; text-decoration: none !important;">
				<i class="fa fa-calendar"></i>
				{{ day.date | date: "%A, %B %e, %Y" }}:
			</a>
			{% else %}
			<i class="fa fa-calendar"></i>
			{{ day.date | date: "%A, %B %e, %Y" }}:
			{% endif %}
		</small>
		<br>
		{{ day.title }}
	</h3>

	{% if day.image_src %}
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 pull-right">
		<p>
			<img class="img-responsive img-thumbnail center-block" src="{{ day.image_src }}" alt="Consumer Tip: {{ day.title }}">
		</p>
	</div>
	{% endif %}

	{{ day.content }}

	<span class="clearfix"></span>
</div>
{% endfor %}

<script type="text/javascript">
$('.consumer-tip').each(function() {
	var tipDate = new Date($(this).data('date'));
	var nowTime = new Date();
	if (tipDate >= nowTime) {
		$(this).hide();
	}
});
</script>
