---
layout: civic-bs
permalink: /consumer-tips/
---

<div class="page-header top">
	<img src="http://www.hillsboroughcounty.org/images/pages/N284/militaryInsignia-v2.png" alt="2016 NCPW Daily Tips" class="img-responsive center-block" />
</div>

<p class="lead">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

{% for day in site.consumer_tips reversed %}
{% if true %}
<!-- if day.date <= site.time -->

<h3>
	<small>
		{% if day.link %}
		<a href="{{ day.link }}" style="font-family:inherit !important; font-size:inherit !important; font-weight:inherit !important; font-style:inherit !important; text-decoration: none !important;">
			<i class="fa fa-calendar"></i>
			{{ day.date | date: "%A, %B %e, %Y" }}:
		</a>
		{% else %}
		<i class="fa fa-calendar"></i>
		{{ day.date | date: "%A, %B %e, %Y" }}:
		{% endif %}
	</small>
	<br>
	{{ day.title }}
</h3>

{% if day.image_src %}
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 pull-right">
	<p>
		<img class="img-responsive img-thumbnail center-block" src="{{ day.image_src }}" alt="Consumer Tip: {{ day.title }}">
	</p>
</div>
{% endif %}

{{ day.content }}

<span class="clearfix"></span>

{% endif %}
{% endfor %}
