---
layout: bootstrap
permalink: /recycle-the-holidays
subheading: "Tis' the season to recycle your leftover trash from the holidays. Click on the icons for information on holiday collection schedules, tips on how to dispose of unique holiday items, recycling options and more."
---

<style type="text/css">
img.recycle-holiday-img {
	width: 100%;
	max-width: 250px;
}
</style>

{% for item in site._recycle_holiday_items reversed %}
{% capture modulo %}{{ forloop.index | modulo: 4 }}{% endcapture %}
{% if modulo == '1' %}
<div class="row">
	{% endif %}

	<div class="col-md-3">
		<a href="#" data-toggle="modal" data-target="#modal-{{ item.param }}" class="thumbnail">

			<img src="http://fl-hillsboroughcounty.civicplus.com/images/pages/N3713/{{ item.param }}.png" alt="{{ item.title }}" class="img-responsive center-block recycle-holiday-img">

			<div class="caption">
				<h5 class="text-center">
					{{ item.title }}
				</h5>
			</div>
		</a>
	</div>

	{% if modulo == '0' or forloop.last %}
</div>
{% endif %}
{% endfor %}

{% for item in site._recycle_holiday_items reversed %}
<div id="modal-{{ item.param }}" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<header class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">
					{{ item.title }}
				</h4>
			</header>
			<section class="modal-body">
				{{ item.content }}
			</section>
			<footer class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</footer>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endfor %}
